[2018-02-19 11:22] mratsim opened #6 "[Feature request] Output an array and not a seq for `zip-->map` of arrays"
I'm working with stack arrays and it would be nice when possible to have stack arrays as result by default when doing `zip(a, b) --> map(it[0] + it[1])` as the size of the arrays is known at compile-time.

[2018-02-19 15:10] #6 closed

[2018-02-19 20:28] brentp opened #10 "array filter?"
cool project, I was looking at the tests and saw this:

[code]
I would expect `[8]`

[2018-02-19 20:43] michael72 commented on #10
Yes, I think the real use-case for array-filter is not yet clear. Maybe it should be prevented. Especially since the array size is only known at compile-time and the filter operation is performed at run-time, the output can not be shrinked.

The array was introduced to perform in-place operations, which makes sense for map and the other operations which return an integral result.

[2018-02-19 22:42] alehander42 commented on #10
Yes, I am going to remove filter for now, as it can't be followed by other operations correctly.

I've thought of two possible solutions:

[code]

or
[code]

where

[code]
or similar. Array slices make more sense if one wants to apply several operations in place including filter. For new arrays `filterCount` is the most reasonable options

[2018-02-20 06:11] michael72 commented on #10
I _really_ don't know - thing is, that up to now the macro code itself was - at least kind of - straight forward. I'm not sure anyone will need the array filter - at least not as a result. Clearly when the operation is finished with a single type using `all`, `fold`, etc. we don't have any problem. But I can't think of a language that would support an array.filter in that way.

Just my opinion: bu

[2018-02-20 09:24] alehander42 commented on #10
I think returning a seq would be surprising.

I plan on removing filter for array and adding filterToSeq only for array, so people don't get a seq by mistake

[2018-02-20 09:26] mratsim commented on #10
I agree, `filter` should just return a `seq` doing something else would had more cognitive overload "Oh what was zero_functional doing for filter for arrays again, have to read the docs".

The only language we can compare to is Rust, others like Ocaml, Haskell, Python ... uses Linked List so size is not known at run time.

Rust answer is simple: there is no `FromIterator` traits that allows collec

[2018-02-20 09:44] alehander42 commented on #10
I still think supporting operations resulting in arrays (or even other types of collections) is useful.

I've missed dictionary and set comprehensions from Python, similar idioms are also important in Ruby.

[2018-02-20 09:45] alehander42 commented on #10
We can also expand the notation

[code]

[2018-02-20 09:47] alehander42 commented on #10
This way `=>` will result in <inputType> = <outputType> and `=>@` in <outputType> = seq[args of input]

[2018-02-20 09:53] mratsim commented on #10
Nice use of nim flexibility!

[2018-02-20 09:58] alehander42 commented on #10
(It can be also combined with defaulting on @michael72 's `=>` instead of `-->`: `-->` can be deprecated but still left in for backwards compat).

I'll implement that in the evening if it seems suitable

[2018-02-20 12:44] michael72 commented on #10
differentiate between =>@ and => is actually a great idea! - I hope it won't be a hell to implement ;-)

[2018-02-20 19:47] michael72 commented on #10
Darn - I just saw, that => is already part of the [future ](https://github.com/nim-lang/Nim/blob/devel/lib/pure/future.nim#L49) module... (forgot about that, although I've used it already)
so....

-->@ (looks a bit like a rose ;) <--@)
What about
==> and =>@    =>= and =>@
or maybe
|=> and |=>@ hm....
|->  and |->@
-- could be named as "pipeInto" or "pipeIntoSeq"

hm... |> already exists in some o

[2018-02-20 21:16] alehander42 commented on #10
Great analysis, `=>` is clashing with future indeed. I like the `->=` and `->@` idea, it makes sense, but it seems pretty hard to remember: 3 different sigils, so continuing with the current notation might be best.

`-->` and `-->@` ?

[2018-02-21 04:42] michael72 commented on #10
3 (or 4) different sigils might be too much maybe - yeah

OK then
[code]
alternatively maybe
[code]

looks alright ;-)
yeah - stick with the `-->´ then :+1

[2018-02-21 20:29] alehander42 commented on #10
Now I remember: the dsl notation is based on a single operator. That makes it easy to analyze the whole chain as `.` has higher precedence

[code]

also
[code]
[code]
Now, `a --> b --> c` should be equivalent, but slower as you can benchmark. Maybe there is a way to make it work like this but I am not sure how without an additional element

[code]

So, my new idea is to

[code]

[2018-02-21 20:30] alehander42 commented on #10
If you can think of a way to make the other syntax work (because now it's (a --> b) --> c: it's expanded into two loops with new seq-s), go ahead !

[2018-02-22 05:13] michael72 commented on #10
Why not the second solution - before turning it all upside down.

You could also call it `filterSeq` btw. Then working on `seq.filterSeq` has no real benefit - but it would return a `seq` in case an `array` is supplied and it is the last argument (or the last before `map`).
Should be easy to implement (as you can easily get the type of an element - see my `find` implementation)
Maybe we could use

[2018-02-22 08:19] alehander42 commented on #10
Yeah, filter@ is basically a little bit shorter syntax for filterSeq. Maybe `<handler>Seq` is a bit more reasonable, I'll think about it.

That's true, I'll work in a branch

[2018-02-23 14:14] michael72 commented on #10
@brentp
Back to the original issue - I think we can close this now.

The test code - in case of array now would look like:

[code]
This "nulling" all entries in the matrix where the given condition is false - in the case with the array and reducing the size of the resulting sequence in case of `filterSeq`.
So the benefit is still questionable in case of filter on array, but it could potentially be

[2018-02-23 14:14] #10 closed

[2018-02-23 15:01] brentp commented on #10
cheers. I'll git it a try.

[2018-04-04 22:29] timotheecour opened #18 "would be nice if readme included a complete example or a link to it (eg: a, b, f not defined)"

[2018-04-05 00:54] timotheecour opened #20 "can it work (or be made to work) with input iterators?"
eg:
[code]

[2018-04-05 06:32] michael72 commented on #20
Hi - OK - first I'll have to correct your code - and then it's not working anyway. You're right!
(using `-->` and then directly `.` is not a valid syntax)

So something like this would work (at the moment):
[code]

Creates `@[0,...,18]`
- so `sub(0,10)` with 10 being exclusive is used instead of take
Unfortunately the loop does not use `break` so it would run forever.

I could add the following
-

[2018-04-05 08:53] michael72 commented on #20
... or better introduce an `until(cond)` function that - internally - calls break when the given condition is `true` -> rewrite `sub` to use `until(idx >= end)` - and `take` uses `until` as well. `filter` itself should maybe not be changed.

[2018-04-05 18:26] michael72 commented on #18
OK - maybe we should add more examples in the readme...

[2018-04-05 18:26] #18 closed

[2018-04-06 22:46] timotheecour opened #21 "comparison to related packages"
https://github.com/petermora/nimLazy seems quite related; would be nice to compare against it

[2018-04-07 05:08] michael72 commented on #21
... well maybe the focus is different - both library's intention is to provide functional programming to nim.
the focus in zero-functional is to provide fp without the runtime penalty that usually comes when using fp. nimLazy has a different approach and relies heavily on closure iterators see [Nim Manual](https://nim-lang.org/docs/manual.html#iterators-and-the-for-statement-first-class-iterators)

[2018-04-08 18:24] michael72 commented on #20
@timotheecour with #22 it is now possible to create own inline iterators with `--> iter(myIterName)` - they are not as fancy as closure iterators and cannot be moved around to other functions, but they are efficient.

Also with the additions of take, drop and enhancements of sub that have already been merged to master, could we close this issue now?

[2018-04-13 17:46] michael72 opened #24 "DSL for inline functions"
My proposal for the `zero` DSL we shortly discussed in #22 - that is also working with the nim syntax parser:

[code]
`zero:` follows the definition
`name(parameters)(parametersToInlineProc)`
sections:
- `pre` or `prepare` initialize variables and constants
- `init` variable initialization before the loop (ext.initials)
- `loop` the actual loop action (ext.node)
- `end` added to end of the loop (e

[2018-04-14 09:29] alehander42 commented on #24
wow, amazing. this already works for those examples, right?

[2018-04-14 09:35] alehander42 commented on #24
it really does look almost simple.

If it's not yet fully implemented, how much work is it?  I was going to suggest you to not put too much work in the lib, if maybe fixing iterator chaining in Nim is possible. Just writing an iterator as in other languages will be probably always the best option (for Nim itself, lowers barrier for new users). Still, I asked core devs, and IIRC it's not very easy

[2018-04-14 09:37] alehander42 commented on #24
why can't map be

[code]

btw how do you convert `test` to `test(it)` ? and is that simpler for the user, or too magical?

[2018-04-14 10:00] michael72 commented on #24
Sure - maybe we could do map like that... And indexed...-bla as an extra function - there are not so many indexed-functions anyway. Maybe I was thinking along too generic approaches - that in themselves are complicated again.

but anyway - map in that sense had to be:
[code]
or
[code]
Not sure about `f(it)` - so to say defining your own iterator with it - but I don't think neither me nor the user

[2018-04-14 10:07] michael72 commented on #24
... so - there is some cleanup to do, when we want to use the new DSL in our code and in the examples - not sure if it is feasible to convert everything to the new DSL - especially functions like `sub` or `combinations`. But still this approach leaves it open to the user if he/she maybe first uses the DSL and then - if the function needs to be more complicated - can output the created function wit

[2018-04-16 16:54] michael72 commented on #24
... I added a new branch for zero-dsl - with the
[code]
syntax.

functions that set or return a result have to be last element, all other may return an iterator.

[2018-04-23 21:34] alehander42 commented on #24
sorry for the late reply, i've seen the issues, always forgetting to actually write here

[2018-04-23 21:35] alehander42 commented on #24
so yeah this looks good, let's merge zf_inline if it seems ready

[2018-04-24 11:58] michael72 commented on #24
... still have to document.
I'm also thinking about simplifications - especially concerning the collection result type. Maybe in case of returning a collection the result could first be created in  a separate iterator, then the result type of the iterator is determined and used for the overall resulting collection type.

[2018-04-24 13:14] michael72 commented on #24
The general idea would be to generate the code like that (and use also types other than `seq`) - when the result should be a collection:

[code]

[2018-05-08 21:59] abijahm opened #27 "index out of bounds with map"
[code]
this example gives error

[code]
[code]

[2018-05-09 04:54] michael72 commented on #27
@abijahm: could you try it again with [zero-dsl](https://github.com/alehander42/zero-functional/tree/zero-dsl) branch? That is actually the current dev branch that should be merged soon (I guess).
It would work on that branch but the output would be a sequence - as the map function is a function that is considered to change the result type (could also do $it for instance). To force array output th

[2018-05-26 21:08] michael72 opened #28 "new calling convention with new macro"
This is a proposal for a new macro and calling convention for zero_functional to be discussed:

instead of writing
[code]
one could also write
[code]
with `zfun` being the new macro - or how should we call it?

Benefits:
* no need to write repeated dots or -->
* possibility to write function calls with colons - repeated calls just add to the next line

thoughts or suggestions?

[2018-06-15 05:19] michael72 commented on #24
OK - let's do it!

[2018-06-15 05:19] #24 closed

[2018-06-15 20:35] michael72 commented on #27
fix merged

[2018-06-15 20:35] #27 closed

[2018-06-15 20:35] #28 closed

[2018-06-16 06:30] #21 closed

[2018-06-16 06:30] #20 closed

[2018-06-20 08:07] Vindaar opened #30 "expandMacros results in illformed AST"
Just stumbled on this while (finally!) trying the library. Replaced a chain of `sequtils` procs with `zero_functional` equivalents and everything worked. Then I was interested in the code it produces, so I used `expandMacros`. However, that results in an
[code]
The simple code I ran:
[code]

where the file is just
[code]

I'm running Nim devel from yesterday https://github.com/nim-lang/Nim/commit/

[2018-06-20 11:05] michael72 commented on #30
@Vindaar
Thanks for trying it
Well "simple" is probably a point of view thing...
I am not sure _what_ you are actually trying here. Also looks like we need to update to a new version with nimble - I'll do that later. In the meanwhile you could also simply download the latest version of zero_functional.nim and give it a try.
Anyway: we have an iterator that returns string (splitLines) and another s

[2018-06-20 12:00] Vindaar commented on #30
Maybe I'm just doing weird things after all or misunderstanding what I'm doing, haha.

My idea is:
- `readFile` -> `string` of file
- splitLines -> `seq[string]`, lines of file
- `filter` -> `seq[string]`, all lines without header & non empty
- `map` -> seq[seq[string]] -> split two columns into `seq[string]` each

I'm a little confused by your statement regarding `splitLines` and `splitWhitespace

[2018-06-20 12:16] michael72 commented on #30
Hm - I see two versions of splitWhitespace - one is a proc, the other an iterator (how that can work I'm not sure...) Same goes for splitIterator
zero_functional does nothing special here - you can see the generated code when using the `-->>` operator. This should also give you an idea of what is going wrong!

as to "redefinition of s" -> that is why I wrote
`readFile(...) .... --> createIter(s)`

[2018-06-20 12:31] michael72 commented on #30
So with `-->>` with your code I get the output:
[code]
So an iterator named `s` is created - which can be used with s() in later expressions.
Can't see where a redefinition is happening :confused:

[2018-06-20 12:36] Vindaar commented on #30
The output via expandMacros on the other hand is:
[code]
[code]

Can't find a redefinition there either.

[2018-06-20 12:42] Vindaar commented on #30
From your snippet using `-->>` though, I'm still not sure whether the `splitLines` in use is actually an iterator or the proc
[code]
If the result of that is a seq this works the same as if the `splitLines` iterator is used. Interesting. :)

[2018-06-20 13:02] michael72 commented on #30
ahhhh.... so `expandMacros` - maybe when also using iterators - is the problem.

If you leave expandMacros out it should work!

This is like - maybe the 3rd or 4th bug concerning iterators... :unamused:

[2018-06-20 13:12] Vindaar commented on #30
Like I said in the opening of this issue: yep, it works just fine without `expandMacros`. :) I just wanted to report this specifically as a thing happening if one wants to use `expandMacros` instead of `-->>` (which I wasn't really aware of before).

Ah, thanks. That makes sense!

[2018-06-20 14:18] michael72 commented on #30
OK - What I tried initially is to get your code compiled with the current version of zero_functional. Problem here was that the resulting sequence type could not be determined automatically. I was not aware that expandMacros was the actual problem.
So yes - please use `-->` - as I said iterators in nim still got a lot of issues.

Also this sample code will give the same error result about the doub

[2018-06-20 14:21] michael72 commented on #30
... and for your illegal AST problem see
https://github.com/nim-lang/Nim/issues/7723

[2018-06-20 14:53] Vindaar commented on #30
Ahh, thanks a lot for your help! And sorry for assuming it's related to zero_functional in the first place. :) I'll close this.

[2018-06-20 14:53] #30 closed

[2018-06-21 04:55] michael72 opened #31 "Missing functions"
Just a question / poll about missing functions that are worth adding to zero_functional (if possible). These functions are probably not so easy to implement.

my ideas:
* `split()` (or unzip): split up a collection of tuples with n elements to n collections with single elements - the result would be a tuple of collections and not a collection of tuples
* `combine(a,b,c...)` (or append or union): i

[2018-07-18 02:31] timotheecour opened #34 "Error: undeclared identifier: 'SEQUENCE_HANDLERS'"
/Users/timothee/git_clone/nim/timn/tests/nim/t17_zerofunc2.nim(1, 1) template/generic instantiation from here
/Users/timothee/.nimble_choosenim/pkgs/zero_functional-0.1.0/zero_functional.nim(133, 3) Error: undeclared identifier: 'SEQUENCE_HANDLERS'

[code]

[2018-07-18 06:48] michael72 commented on #34
... great - so I am not able to check anything this week and the next.

@timotheecour
Did you try it _without_ using `:auto`? - why use auto return type here anyway - this proc returns nothing!

Also: you can try using the `-->>` instead of `-->` then copy the output - this is the code generated by `-->>` to your function (in `if debug`).
See also [Debugging using `-->>`]( https://github.com/zero-

[2018-07-19 02:04] timotheecour opened #35 "can it work (or be made to work) with closure iterators?"
looks like it now works with inline iterators (cf https://github.com/zero-functional/zero-functional/issues/20), but how about with closure iterators?

[2018-07-26 20:39] bluenote10 commented on #34
@timotheecour Did you install with `nimble install zero_functional@#head`? Recently Nim's scoping rules of `static` blocks have changed. zero_functional has already been adjusted to that, but if you install without specifying `#head` you will get the last tagged version which still uses a `static` block for `SEQUENCE_HANDLERS`.

[2018-07-26 23:31] timotheecour commented on #34
nimble install zero_functional@#head
   Warning: Package 'timn' has an incorrect structure. It should contain a single directory hierarchy for source files, named 'timn', but file 'config.nim' is in a directory named 'src/timn' instead. This will be an error in the future.
      Hint: If 'src/timn' contains source files for building 'timn', rename it to 'timn'. Otherwise, prevent its installation

[2018-07-29 05:05] michael72 commented on #34
... so: all in all
@bluenote10  sure - so I gonna make a version containing that fix
@timotheecour there is a compile error `Error: undeclared identifier: 'myFileIterator'` - you could try to fix it first, right?

[2018-08-02 01:12] timotheecour opened #36 "createIter can't be fed to a proc: zero_functional.nim(1675, 16) Error: internal error: proc has no result symbol"
[code]

[2018-08-02 05:53] michael72 commented on #36
@timotheecour
concerning proper error reporting: what version of nim do you use?
It does not look like a recent one, because toUpper(string) does not exist any more.
So maybe the nim documentation needs to be updated:
[code]

Also: when posting a bug, next time: PLEASE try to call the "-->>" debug operator first - then look if the printed code has a bug. In 99% of the cases it has - trust me.

[2018-08-02 05:56] michael72 commented on #34
OK - I'll close this one now *sigh*

@timotheecour opening bugs maybe a nice thing - but sometimes you'll have to help a little to close them. E.g. answer questions or giving feedback - anything. OK?

[2018-08-02 05:56] #34 closed

[2018-08-02 05:57] michael72 commented on #35
@timotheecour what about them? What is the advantage?

[2018-08-02 07:07] timotheecour commented on #35
from the docs:

In contrast to that, a closure iterator can be passed around more freely

see also: https://forum.nim-lang.org/t/2027 Iterator as argument of iterator

[2018-08-02 07:43] timotheecour commented on #34
@michael72 well I'm also busy with [fixing a number of other issues](https://github.com/pulls?q=is%3Apr+author%3Atimotheecour+sort%3Aupdated-desc) so sometimes I don't reply right away :-)

I fixed the example from the README that caused the above issue here: https://github.com/zero-functional/zero-functional/pull/37

[2018-08-02 08:03] timotheecour commented on #36
using latest devel:

nim --version
Nim Compiler Version 0.18.1 [MacOSX: amd64]
Compiled at 2018-08-01
Copyright (c) 2006-2018 by Andreas Rumpf

git hash: 8f4c5a8955594b4f2dc31f9629af9ad3d4780c2c
active boot switches: -d:release

that's because you're reading docs from latest stable (https://nim-lang.org/docs/strutils.html) instead of latest devel; in devel, `toUpper` is not marked as deprecated an

[2018-08-02 08:04] michael72 commented on #35
OK - understood - the thing is: do we need to pass it around?
Zero-functional is "just" a code generator. I fail to see the benefit in contrast of defining your own proc.

There are two points:
* how to name the child? Don't know - createClosure() - instead of createIter() or maybe add a parameter `createIter(closure=false)` - and when calling `createIter(true)` the iterator would be closure itera

[2018-08-02 08:13] michael72 commented on #36
OK - my point is: is this a `zero_functional` bug? Or is it a `nim` bug? Or is it just a strange nim error mesage?
To me it looks like a nim bug - or maybe - yes - we need a closure iterator to pass around here. You haven't yet made your case though.

When writing `lines(stdin) -->> map(it.toUpper()) --> createIter(s)` you will get something like this in the compiler output:
[code]
use that code i

[2018-08-02 08:46] timotheecour commented on #36
indeed, adding ` {.closure.}` AND resolving `auto` to `string` in `iterator s(): auto` makes it work:

[code]

[2018-08-02 08:47] timotheecour commented on #35
related: https://github.com/zero-functional/zero-functional/issues/36#issuecomment-409853427

[2018-08-02 11:15] michael72 commented on #35
yeah - and still not convinced by that foo-bar-example

For that code to work you could also write
[code]
and this would not even hide the fact that you're only echoing the contents of the iterator.

But I see the point that maybe - maybe it would be nice to chain iterator calls even though this particular example does not make too much sense. OK - I will have a look, but if I run into too many pr

[2018-08-02 12:25] michael72 commented on #36
OK - it looks like the code generation works with `{.closure.}` as well - unfortunately it is not feasible to detect the actual type of the iterator.
A possible solution would be to provide the type in the call, something like:
`createIter(true,string)` - that is createIter would take two optional arguments: closure (default is false) and resultType (default is auto).

[2018-08-02 17:36] timotheecour commented on #35
yes it was a simplified example. The bigger point is code reuse: I'd like to be able to reuse procs that take iterators and are not custom designed around zero-functional (eg from standard library or other nimble packages)

[2018-08-02 18:01] timotheecour commented on #36
actually it's possible for inline iterators, not closure iterators, see:
* auto inference doesn't work with closure iterators: Error: expression 'myIter2()' has no type (inline are ok) #8284

so a possible improvement would be to:

step 1: do auto type inference from the generated inline iterator:
[code]

step 2: then use the auto resolved type to actually create the closure iterator, when the use

[2018-08-02 20:07] michael72 commented on #36
No - no... really not.
The thing you really have to be clear about is - zero_functional is just a code generator. So basically it can only support what nim already supports. And there is no way in nim to simply state:
´``nim
let myIter2 = iterator ....
[code]

[2018-08-02 20:24] timotheecour commented on #36
there is, with `closure` iterators:
[code]

[2018-08-02 20:43] michael72 commented on #36
maybe - but you have to think of `-->` as the entrance to the whole macro that generates the code and what is on the left side is not part of it, except the left hand argument.
So `let x = [1,2,3] --> map(it+1)` will resolve in something like
[code]
The point is: your code has to fit in all of the part on the right side of `let x = `
OK?

[2018-08-02 21:25] timotheecour commented on #36
yes, that's what I have in mind.

[code]
willl result in efficient code, probably identical in performance to inline iterator with compiler optimizations (depending on how complex the consuming function is), eg using link time optimization and compiler inlining.

And, we get benefits mentioned of allowing to reuse code not built around zero-functional, and saner syntax.

[2018-08-03 16:43] michael72 commented on #36
OK - I've added the closure iterator first
as mentioned it can be created with `createIter(<name>, true)` or `createIter(<name>, closure=true)`
:sweat_drops:

I will try to get the new syntax working next, but this will probably break existing code... I will do development on branch [rework-iterator](https://github.com/zero-functional/zero-functional/tree/rework-iterator). Maybe first introduce al

[2018-08-03 16:49] timotheecour commented on #36
awesome! can new syntax also work with inline iterators or just closure iterators?

[2018-08-03 17:10] michael72 commented on #36
I don't think so - first I will try closure iterator anyway. I guess inline iterator won't be possible - because as mentioned the left side of the assignment is not part of the `-->`  macro and it is also not possible to return an inline iterator from a proc. Maybe you have an idea?

[2018-08-04 05:26] michael72 commented on #36
... but as a further step I would think about the `to(iter)` command - similar to `to(seq)` or `to(list)` etc.
This would actually return a closure iterator that would be incompatible with js, but maybe for js simply a seq could be returned.... Hmm... Well maybe that's the next step. And afterwards the default return type maybe could be set with a compiler option - thinking along your "case1"..."c

[2018-08-06 23:45] timotheecour commented on #36
well there are many things that are not supported by js backend, so code targetting js would anyway need to contain js specific conditional compilation. (plus there is compiling to wasm as another option, which could enable targetting js while avoiding js specific issues altogether -- untested though, need to try)

I think supporting closure iterators warrants sufficient benefits as discussed abov

[2018-08-07 05:01] michael72 commented on #36
... well both iterator types are
Btw I added an implementation that supports `to(iter)` - see also test.nim at the end of the file.
But there are some drawbacks: using the iterator inside another function again with zero_functional does not yield any results - because zero_functional creates an anonymous proc... see
nim-lang/Nim#8550

Anyhow - it works now, but has some limitations.

[2018-08-07 08:27] timotheecour commented on #36
great, much cleaner now! just tried it, looks like these are now working
- [ ] `closure` iterators creation
- [ ] auto inference for closure iterators
- [ ] cleaner syntax with `let iter = ...` instead of `createIter` for closure iterators
`let it = lines(stdin) --> map(it.toUpper()) --> map(it.len) --> to(iter)`
- [ ] as a consequence, `it` can be fed into a proc that consumes a closure iterator

[2018-08-07 19:26] michael72 commented on #36
I think so - but it would break existing code as the current implementation tries to generate a collection of the input type - and if that is not possible - create a `seq`
But I agree that it might be more consistent. I'm still a little hesitent as iterators still have their little quirks here and there and they are not supported by JS. But that's not a reason to change the code. I'd probably go f

[2018-08-07 19:38] timotheecour commented on #36
+1

[2018-08-12 21:41] timotheecour commented on #36
@michael72 maybe update your above post https://github.com/zero-functional/zero-functional/issues/36#issuecomment-410933849 so we can keep track of any current issues?
eg using ~~crossed out text~~

[2018-08-20 15:05] Vindaar opened #43 "`nil` strings forbidden on current devel, does not compile"
Due to the recent change on Nim's devel that seqs and strings must not be `nil` anymore, zero functional currently does not compile.

[2018-08-20 17:55] #43 closed

[2018-08-27 15:49] Vindaar opened #45 "Type mismatch got int literal instead of bool on newest devel"
On the current devel due to commit https://github.com/nim-lang/Nim/commit/361a2d830aca1959d3dbc15d13bea31f89fcd0e2 the condition in a `when` statement is now required to be bool. But due to a macro bug (https://github.com/nim-lang/Nim/issues/7375) compile time `bool` are often converted to `static[int]`.

This causes compilation of zero-functional to fail with:
[code]

[2018-08-27 17:54] #45 closed

[2018-08-29 13:02] Vindaar opened #48 "Support for type conversions via `.T`?"
As far as I see it, there's currently no way to convert the type of e.g. a given sequence, no?
Like taking some `seq[uint8]` and outputting `seq[int]`.
**edit:** of course I can use `map` manually for that, but that seems like unnecessary indirection.

I think for similar types this would be quite handy (thinking within `SomeNumber`). I hacked the following in to test
[code]
and within `zfAddItemC

[2018-08-30 09:00] michael72 commented on #48
Hi @Vindaar
The template code is quite nifty and it works and it would be possible then to simply convert sequences of one numeric type into another one -
I would write the template like this:

[code]

so to say delegating the call to zfAddItem - supporting (hopefully) also the other types, such as array and DoublyLinkedList.

However: I am not sure if I really want to do that. So maybe not as def

[2018-08-30 17:45] michael72 commented on #48
@Vindaar
I have added the modified code as suggested above - and had to do some fixes - and now it is possible to convert the above seq[seq[uint8]] to seq[seq[int]] with

[code]
I have created a branch "autoconvert" - if you think this is OK I will merge it to master

[2018-08-31 09:35] Vindaar commented on #48
Oh, nice! I'll take a look at it later today.

That was precisely what I also had in mind when I said I didn't know if it should be handled by `to`. Reason being I only came up with this idea when I had code like:
[code]
except that I didn't have the type explicitly declared for `a`. I was changing some data types from `int` -> `uint8`. That's when I thought it'd be really handy to *have* that fea

[2018-09-01 12:12] Vindaar commented on #48
Just tested the `autoconvert` branch. Nice, works perfectly!
Especially nice is being able to use `-->` inside of map.

As I said in my last comment, maybe it's actually a good idea to allow type conversion only via a different name than `to`? `asType` would be another idea.

[2018-09-01 17:39] michael72 commented on #48
My proposal is to add an additional boolean parameter to the `to` function (default is false) -
how could we name it? autoconvert,, autocast, trycast, force? But this is just a naming. When it is `true` the casting is added (of course this will only succeed when the cast itself is valid - such as numeric type to another numeric type).

For me it would be easier to implement - also I could maybe pr

[2018-09-02 10:55] Vindaar commented on #48
Looks good, thanks! I'm happy either way (different keyword or using `autoConvert` as second argument).
You're right, maybe this way it's more approachable for new users.

I'll add a couple of comments to the commit.

[2018-09-02 19:16] michael72 commented on #48
OK 👍
About your comments: I will add source code comments. Aaand - I found the issue - you mentioned it in #45
https://github.com/nim-lang/Nim/issues/7375
... so this wasn't just bad style :wink:

[2018-09-02 19:44] Vindaar commented on #48
Ah, sorry, I guess I wasn't clear.
I'm aware you did it because of the mentioned bug. My comments were meant to show a way to do it, while keeping `static[bool] ` and still have it compile. I tested it with the changes and it compiles just fine. :)
The explicit `bool` and the `newLit` are the key.

[2018-09-03 19:05] #48 closed

[2018-09-03 19:36] michael72 commented on #36
@timotheecour
Among a few other fixes and enhancements I created a new version 0.2.0 that also supports creating closures as default output type (in case when normally a sequence would be created) when the compile flag `zf_iter` is set.
https://github.com/zero-functional/zero-functional/tree/v0.2.0#compile-flags

So - I guess this can be closed now?

[2018-09-03 19:38] michael72 commented on #35
OK - I think I close this one now as the further discussion was done in #36 and closure iterators are supported now.

[2018-09-03 19:38] #35 closed

[2018-09-03 20:27] data-man opened #50 "[Feature request]: take result's field names from variables"
For example:
[code]
Outputs:
```@[(Field0: 2, Field1: 0, Field2: 5), (Field0: 8, Field1: 1, Field2: 6), (Field0: -4, Field1: 2, Field2: 7)]```

Proposal:
```@[(a: 2, b: 0, c: 5), (a: 8, b: 1, c: 6), (a: -4, b: 2, c: 7)]```

Maybe optionally with some define.

[2018-09-04 18:50] michael72 commented on #50
Looks like a nice extension - however it is also possible to zip the same list several times - like
`zip(a,a,a)`
Any idea how to name that? Easiest way would maybe be indexing all fields - like this maybe:
`(a0: 2, b1: 0, c2: 5)` - just to be consistent with Field0 etc. Or maybe (`a_0: 2, b_1: 0, c_2: 5)` ?

[2018-09-04 20:03] michael72 commented on #50
... also this is of course not possible for more complex expressions such as
`zip(@[1,2,3], a)`

[2018-09-05 10:18] data-man commented on #50
Yes, it's fine.

[2018-09-06 18:01] michael72 commented on #50
OK - implementation done. Can be closed.

[2018-09-06 18:54] data-man commented on #50
Thank you!

Is it very difficult to detect 'simple' cases and produce names without numbers?

[2018-09-06 19:05] data-man commented on #31
[D's generic iteration algorithms](https://dlang.org/phobos/std_algorithm_iteration.html)

+1 for `groupBy` (or `group`) and `uniq`

[2018-09-06 19:19] #50 closed

[2018-09-06 19:44] michael72 commented on #50
🙄 no - it is actually not that difficult....
OK - I added some simple enough check - but: `simple` really means: when all labels are different. If any labels are equal numbers are added to all of the labels. See also test.nim.

[2018-09-06 19:47] michael72 commented on #31
... I was thinking about groupBy last weekend - not sure yet if it is feasible (or at least efficient)
uniq seems easy enough to do :wink:

[2018-09-06 19:49] data-man commented on #50
Great, perfectly!

[2018-09-08 11:11] #36 closed

[2018-09-27 22:45] arnetheduck opened #51 "Allow caller to change injected variable name"
Is there any way not to use that `it` name and let the caller specify instead? If not, this would make a great feature!

It's quite limiting in the sense that if you want to nest stuff, you're out of luck - likewise with any "outside" variables you might have and clash with - quite inflexible - a bit like having SQL but no JOIN. The ability to change these fixed names by editing the source does no

[2018-09-28 11:35] michael72 commented on #51
@arnetheduck I don't quite get your 'trivial' example - ah OK - I think I get it - but using the actual minus '-' symbol that way looks a bit exotic to me.
Also: Hm - calling `any` within `any` is maybe not what was meant to be (and `any` was renamed to `exists` because some editors consider `any` to be a keyword).

Currently there are two possibilities:
- define your own variable in the map funct

[2018-10-08 22:00] arnetheduck commented on #51
hey @michael72 - sorry for the shoddy example - `x-it` was to be seen as a placeholder for `it-from-x`. I used `any` because it's a common name for the operation in lots of libraries out there - missed that it happens to be called `exists` - weird name and weird problem.

in my eyes, perhaps more clean would be something like https://nim-lang.org/docs/sugar.html - concretely, my example code would

[2018-10-09 17:52] michael72 commented on #51
@arnetheduck
why on earth is `exists` a weird name?! AFAIK it has always been called `exists` in mathematical contexts - or did you ever hear someone - there is even a symbol for that.
In C#, F# and scala it is named `exists`, not `any`.
Also: see [definition of `any` in nim](https://nim-lang.org/docs/system.html#any)

So to me it is weird, that someone would name something `any` what rightfully s

[2018-10-09 18:41] alehander42 commented on #51
I agree, `any` vs `exists` is bikeshedding, we should keep `exists`.

The `x.exists((a) => y.exists((b) => a == b))` seems useful tho

[2018-10-09 20:02] arnetheduck commented on #51
Oh for sure, I'm not suggesting changing to `any`, just didn't expect it as I mostly come from a different lang background :) ie it's called variations on `any` in `c++`, [nim](https://nim-lang.org/docs/sequtils.html#anyIt.t%2Cuntyped%2Cuntyped), haskell and python, for example

[2018-10-10 19:12] michael72 commented on #51
@arnetheduck / @alehander42
the actual syntax here is `-->` and stays that way and not `=>`
So I did a little bugfixing - now it would be possible to write something like:
[code]

@arnetheduck
please have a look at the documentation and the examples. Thanks.

[2018-10-13 05:51] michael72 commented on #51
... OK I thought again a little about it but
* we are using macros for the most part - we do not really have any `exists` function - so writing `x.exists(...)` here is out of the question
* using `=>` from sugar module or not from sugar - could be useful - but comparing
[code]
and
[code]
I don't know which one is more readable or more confusing....

[2018-12-16 06:42] michael72 opened #53 "rework combinations()"
So basically `combinations()` is a bit more difficult to use than other commands. The main reason for this is that a special object called `c` is created and the actual iterator and index are put in it in an array. This makes `combinations` a bit awkward to use.

following example (taken from test.nim) - intersect two sequences a and b (without possible doublettes):
[code]
The proposal here is to

[2019-01-23 18:34] Vindaar opened #56 "[Discussion] naming of `items` iterators / return type of tuple iterator"
This is a follow up to the discussion at https://github.com/zero-functional/zero-functional/pull/55.

I didn't want to open an issue for this, since it's not a bug.

What I was referring to is the following: The iterator `items` for tuples is specifically problematic now, because it can only yield elements of tuples, which are homogeneous in their types. This problem can be circumvented by directl

[2019-07-13 19:51] deem0n opened #57 "zero_functional.nim(298, 34) Error: return type 'untyped' is only valid for macros and templates"
I got this on Nim 0.20 on mac os x, just after `import zero_functional`

[code]

[2019-07-16 19:44] michael72 commented on #57
@deem0n so I get a lot of warnings with 0.20.xx but no errors. `test.nim` is still working.
What branch did you use? Can't be master since line 298 does not contain code

https://github.com/zero-functional/zero-functional/blob/b328e7e24cc269fd0dc94ce7e670b7d3a04c3288/zero_functional.nim#L298

[2019-07-17 08:42] deem0n commented on #57
I do `nimble install`:
[code]

this is lines around 298 from my local `~/.nimble/pkgs/zero_functional-0.2.0/zero_functional.nim`

[code]

[2019-07-17 18:22] michael72 commented on #57
alright - seems like I have to do a new version then...

[2019-07-18 14:33] #57 closed

[2019-07-18 14:34] #53 closed

[2020-01-02 15:55] michael72 commented on #31
added
- uniq
- group (instead of groupBy) -> creating a map
- partition -> creating a named tuple
- concat (instead of combine)

[2020-01-02 15:55] #31 closed

[2020-04-13 18:54] c-blake opened #60 "testament failure in Nim CI"
So, there is a weird test failure for zero-functional at the very bottom of https://dev.azure.com/nim-lang/Nim/_build/results?buildId=4178&view=logs&jobId=c69e982b-684a-5fe0-85d3-75c46c27e054&j=c69e982b-684a-5fe0-85d3-75c46c27e054&t=21e7e6f9-f581-5817-b641-fee9213e925d

As mentioned in https://github.com/nim-lang/Nim/pull/13823#issuecomment-611523525 it looks more related to the way testament is r

[2020-04-14 12:14] c-blake commented on #60
Apologies.  I misinterpreted the output of the CI.  Your tests do not fail.

[2020-04-14 12:14] #60 closed

[2020-04-14 13:04] alehander92 commented on #60
sorry, i just saw this! happy that its fixed

[2020-04-14 14:35] michael72 commented on #60
always bad to be the last in the alphabet ;-)

[2020-07-15 18:53] ShalokShalom opened #62 "Persistent data structures"
Hi :)

I consider Nim as a language and as such, I hope to find some way to keep my data persistent.

Does this project evaluate that and if thats a no, can you recommend one?

[2020-07-17 13:18] michael72 commented on #62
Hi @ShalokShalom ,

can you rephrase your question and make it a real issue - cause you opened which normally is for having a specific problem - e.g. I got the code or idea - how do I do that with this library?
Also `persistent data` is probably confusing: do you mean persistent data storage (which actually is the more common use of the word _persistent_) or immutable data structures? I guess the

[2020-07-17 13:18] #62 closed

[2020-07-17 20:59] ShalokShalom commented on #62
https://en.wikipedia.org/wiki/Persistent_data_structure

[2020-12-04 13:56] ZoomRmc opened #65 "Extending with DSL results in undeclared identifier error."
Nim 1.4.2
Using the example from Readme:
[code]
Results in:
`zero_functional.nim(959, 24) Error: undeclared identifier: 'newIdentNode'`

[2020-12-04 17:07] ZoomRmc opened #66 "Enumeration sticks to the first one in chain, doesn't enumerate actual iterations"
In the following example, even though we expect the first enumeration to be dropped, the second `enumerate` still counts the iterations of the first iterator.
[code]
Expected results: numbers 0..12, actual output:
[code]

Reading more into the docs, it can be argued that this is working as intended, since it "prepends the index of each element *in the collection*", but this is clearly not what any

[2020-12-04 18:54] michael72 commented on #65
you could add
` import macros`

[2020-12-04 18:59] michael72 commented on #66
I'm a little confused what you want to enumerate now.
Nevertheless `enumerate`  seems to be a somewhat new(?) language feature _and_ a macro - so combining macros with macros here doesn't seem to work.
I guess we'll have to remove `enumerate` from zero_functional now since it has been added to `nim` standard lib.

Maybe try using the `indexedMap` command instead.

[2020-12-04 22:42] ZoomRmc commented on #65
Thanks, this was not clear from the docs.
Also, the note about registering the extension with `zfCreateExtension` should probably be moved to the top of the section and not omitted from at least the first example.

[2020-12-05 06:35] #66 closed

[2020-12-05 06:36] michael72 commented on #66
@ZoomRmc updated documentation - closing this one

[2020-12-05 06:36] michael72 commented on #65
would have been an opportunity to do a PR - but well...
@ZoomRmc updated documentation - closing this one

[2020-12-05 06:36] #65 closed

[2020-12-05 09:00] michael72 opened #67 "test.nim does not build with JS backend on travis"
added a comment to .travis.yml
The build just breaks with JS backend

Reason seems to be an old version of node being used.

Question: how to update the Travis.yml and run the tests with JS backend properly?

[2020-12-05 12:27] ZoomRmc commented on #66
So what is the solution for counting actual iterations? I understand that under the hood it's all macroses, but in theory what we're doing here (emulating the effects of?) is chaining and transforming iterators, sometimes consuming them to produce the final value. Usually `enumerate` appends the counter to the iterable, relative to the currently active iterator, and not relative to the underlying

[2020-12-05 12:29] ZoomRmc commented on #65
Sorry, I'm to new to the library to be aware of any consequences of messing with the docs/the code yet.

[2020-12-19 16:57] pb-cdunn opened #68 "Planning to add `reverse()`?"

[2020-12-20 10:00] michael72 commented on #68
Is this a discussion? Or an issue?

What is the use case?

Are you asking for a library or for a language feature?

[2020-12-29 22:49] ZoomRmc commented on #66
Ping @michael72
I'm still interested in a proper `enumerate`. The expected behaviour is described in the first post and it's in accordance with other languages with iterators known to me.

[2021-01-05 21:53] pb-cdunn commented on #68
I thought this would be a useful ["supported method"](https://github.com/zero-functional/zero-functional#supported-methods). Would it be too inefficient?

[2021-01-06 16:32] michael72 commented on #68
No, but what would be the proper way of using it?
It probably should only be allowed as first call. Also the combinations with (all) other methods would have to be tested.

Seriously though I'd be more willing to do it if I wouldn't have to do all the work - at least not right now since I've got a few other topics I'm working on.

Would you like to test that stuff when it's done? Or maybe implemen

[2021-01-08 19:00] pb-cdunn commented on #68
Someday, yes. But feel free to close this if you want.

[2021-01-10 05:47] awr1 opened #69 "Feature: Add `to(hashSet)`, `to(packedSet)`, `to(set)`"
Right now to transform the result of a zero-functional routine into a hash-set type, one must first either obtain the result as a sequence and then convert it using `toHashSet`/`toPackedSet`/etc. (inefficient due to the created sequence, somewhat unwieldly) or use `createIter` and then build up the set from that, possibly using `collect` (which is also unwieldly).

IMO having the ability to use ha

[2021-11-15 21:00] EliteTK opened #71 "Does this project follow semver?"
I noticed it has a 1.x.y version but I was wondering if the versioning scheme being used is actually semver or something else.

Thanks in advance.

[2022-03-09 08:24] hamidb80 commented on #69
take a look at [itter](https://github.com/hamidb80/iterrr).
you can define your custom reducer simply. [due to the implementation]

[2022-03-23 22:32] ZoomRmc opened #74 ""'yield' only allowed in an iterator" is a feature-blocker"
I vaguely understand the reasons we can only yield inside the loop. This, however, leads to some adapters to being seemingly impossible to implement.

For example, here's a `chunks` adapter, which captures iteration values and yields sparingly. The limitation, in conjunction with the fact we can't reliably get the number of total iterations to add a condition inside a loop, leads to the "tail" of

[2022-03-27 17:41] #69 closed

[2022-03-27 18:11] michael72 commented on #69
The output type has to be set explicitly using `to(HashSet[int])` for instance - so the type has to be known for that.

Due to a an internal bug the transformation wasn't working in some cases. That has been fixed. For instance

[code]

will generate compiler output

[code]

Where `zfAddItemChk` does a few compile checks and delegates to a simple adder.
When run it prints the output:

[code]

[2022-03-27 18:34] michael72 commented on #74
Hi @ZoomRmc

Thanks for your input!
What is currently preventing from simply doing `yield s` inside the final section is that the final section is not part of the for loop and yield is only allowed in an iterator (I do not think that this error messages is from zero_functional, but really from Nim compiler).

Hm - yes - so my idea would be to internally allow `yield` statement in `final` section b

[2022-09-09 14:03] #67 closed

[2022-09-10 13:52] #74 closed

[2022-09-11 08:39] michael72 commented on #71
I think we are trying to uphold to semantic version - i.e. new features: increment the minor version, bugfix: increment patch.

[2022-09-11 08:39] #71 closed